:root {
  --background: #FFF9F5;
  --foreground: #171717;
  --color-blue: #04416D;
  --background-fi: #F5F9FF;
}

/*
.finland {
  --background: #F5F9FF;
  --foreground: #171717;
  --color-blue: #04416D;
}

.nordics {
  --background: #FFF9F5;
  --foreground: #171717;
  --color-blue: #04416D;
}
  */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a0a0a;
    --foreground: #ededed;
    --color-blue: #a4a5fd;
    --background-fi: #0a0a2a;
  }
  section.ingress picture:not(.large) img {
    background-color: white;
    padding: 10px;
    border-radius: 6px;
  }
}

html {
  block-size: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-block-size: 100%;
}

iframe {
  width: 100%;
  height: 75vh;
  margin-top: 1em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--color-blue);
  /*
  text-decoration: none;
  */
}

main {
  font-size: 16pt;
  width: 100%;
  max-width: 45em;
  margin: auto;
  padding: 1em;
}

.finland {
  background: var(--background-fi);
}

header {
  background: var(--background);
  text-align: center;
}

footer {
  border-top: 1px solid var(--color-blue);
  padding: 1em 0;
}

nav {
  padding: 1em;
}

header nav {
  transition: all .3s ease;
  border-bottom: 1px solid var(--color-blue);
}

header nav li {
  display: block;
  margin: auto;
}

footer nav li {
  display: block;
}

nav a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  color: var(--color-blue);
  margin: 1em 0 0.25em;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  /*
  font-size: 22pt;
  font-size: calc((100vw - 42px) x 8);
  */
  font-size: calc((100vw - 42px) * 0.0894);
}

h2 {
  padding-bottom: 6px;
  border-bottom: 4.75px solid var(--color-blue);
  font-size: xx-large;
}

h3 {
  margin-top: 1em;
  font-size: x-large;
}

h4 {
  font-size: large;
  margin-top: 2em;
  font-size: 1em;
}

h4 + p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.banner {
  width: 100%;
  display: block;
  margin: auto;
  max-width: calc((100vh - 70px) * 1200 / 780);
}

main > section {
  padding: 1em 0;
}

p {
  margin: 1em 0;
}

ul {
  padding-left: 1em;
}

p + ul {
  margin-top: -1em;
}

h4 + p + ul {
  margin-top: 0;
}

section.ingress {
  text-align: center;
}

picture.large img {
  width: 100%;
}

section.ingress picture.large img {
  width: 100%;
}

section.ingress picture:not(.large) img {
  height: 3em;
  margin: 0.5em 1em 0;
}

picture.center {
  display: block;
  text-align: center;
}

picture.center img {
  display: block;
  margin: auto;
}

picture.right img {
  display: block;
  float: right;
  margin-right: -2.75em;
}

picture.icon img {
  display: block;
  margin-top: 3em;
  height: 4em;
  margin-bottom: 2em;
}

picture.icon.large img {
  display: block;
  margin-top: 3em;
  height: auto;
  width: 100%;
  max-width: 25em;
  margin-bottom: 2em;
}


article, article > section {
  padding-top: 2em;
}

section.ingress span {
  display: block;
  margin: 2em 0 1em;
}

p.ingress {
  /*
  font-style: italic;
  */
  margin: 2em 0;
  font-size: 120%;
  color: var(--color-blue);
}

main > section > section {
  padding-top: 1.5em;
}

main > picture img {
  margin: 2em 0 4em;
}

.highlight, .warning {
  border: 10px dotted;
  border-radius: 30px;
  font-weight: bolder;
}

.highlight.light {
  font-weight: normal;
}

.highlight.light h3 {
  font-size: 1.25em;
}

.highlight {
  border-color: var(--color-blue);
  padding: 2em;
  margin: 2em 0;
}

article.highlight {
  margin-top: 4em;
}

.warning {
  font-size: larger;
  border-color: red;
  padding: 2em;
  margin: 2em 0;
}

section > a:first-child, article > a:first-child {
  text-decoration: none;
}

#webinars > ul {
  margin-top: 1em;
}

#webinars li > p {
  margin-top: 0;
}

#organizers ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#organizers li {
  display: inline-block;
  margin: 0 2.1em 0 0;
  padding: 0;
}

#organizers li:last-of-type {
  margin-right: 0;
}

#organizers img {
  height: 3em;
}

section.promo {
  margin: 4em 0 5em;
}

.promo img {
  box-sizing: content-box;
  max-width: 100%;
}

dl {
  font-weight: normal;
}

dt {
  font-weight: bold;
  margin-top: 0.5em;
}

table.schedule {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1em;
}

table.schedule th, table.schedule td {
  padding: 0.5em;
  border: 1px solid var(--color-blue);
}


table.schedule th, table.schedule td {
  vertical-align: top;
}

table.schedule h3 {
  margin: 0;
}

table.schedule p {
  margin: 0;
}


table.schedule tr.break td {
  font-weight: bolder;
}

table.schedule tr.elsewhere td {
  font-style: italic;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  .promo img {
    background-color: white;
    padding: 1em;
  }
}

@media (min-width: 367px) {
  h1 .emphasis {
    display: block;
    font-size: 158.6%;
  }
  h2 {
    font-size: 200%;
    padding-bottom: 6px;
    border-bottom: 4.75px solid var(--color-blue);
  }
  .highlight.light h3 {
    font-size: 2em;
  }
  picture.icon img {
    height: 5em;
  }
}

@media (min-width: 525px) {
  header {
    text-align: right;
  }
  header nav {
    text-align: right;
  }
  header nav .home {
    float: left;
  }
  nav li {
    margin: 0 2em;
  }
  picture.icon img {
    height: 6em;
  }
  .promo img {
    box-sizing: content-box;
    max-width: auto;
    height: 3em;
  }
}

@media (min-width: 650px) {
  header {
    container-type: scroll-state; 
    position: sticky;
    top: 0;
    z-index: 10;
  }
  header nav li {
    display: inline-block;
    padding: 0.5em 0;
    margin-right: 1em;
  }
  header nav li:last-child {
    margin-right: 0;
  }
  footer nav li {
    display: inline-block;
  }
  footer nav li.home {
    margin-left: 0;
  }
  .highlight.light h3 {
    font-size: 3em;
  }
  picture.icon img {
    height: 7em;
  }
}

/* 16pt x 45em  */
@media (min-width: 1000px) {
  header nav, footer nav {
    padding: 0 calc((100vw - 945px - 1em) / 2);
  }
  main {
    padding: 0;
  }
  h1 {
    font-size: 86px;
    padding: 160px 0 120px;
  }
  h1 .emphasis {
    font-size: 159%;
  }
  nav .home {
    float: left;
  }
  picture.icon img {
    height: 10em;
  }
  table.schedule {
    display: inline-block;
    max-width: calc(50% - 0.5em);
    vertical-align: top;
  }
  table.schedule + table.schedule {
    margin-left: 1em;
  }


}